.popup__button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  background-image: url('../../../images/popup__button-close.svg');
  width: 32px;
  height: 32px;
}

.popup__button-close:hover {
  opacity: .6;
}

@media (max-width: 384px) {
  .popup__button-close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}