@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

@import url('./blocks/root-container/root-container.css');
@import url('./blocks/page/page.css');

@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');

@import url('./blocks/content/content.css');

@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__avatar-container/profile__avatar-container.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__info-title/profile__info-title.css');
@import url('./blocks/profile/__info-edit-button/profile__info-edit-button.css');
@import url('./blocks/profile/__info-subtitle/profile__info-subtitle.css');
@import url('./blocks/profile/__add-button/profile__add-button.css');
@import url('./blocks/profile/__add-button-img/profile__add-button-img.css');

@import url('./blocks/elements/elements.css');
@import url('./blocks/elements/__cards/elements__cards.css');

@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');

@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__container/_delete-card/popup__container_delete-card.css');
@import url('./blocks/popup/__container/_avatar/popup__container_avatar.css');
@import url('./blocks/popup/__container-title/popup__container-title.css');
@import url('./blocks/popup/__container-title/_delete-card/popup__container-title_delete-card.css');
@import url('./blocks/popup/__container-form/popup__container-form.css');
@import url('./blocks/popup/__container-form/_type_error/popup__container-form_type_error.css');
@import url('./blocks/popup/__container-form-label/popup__container-form-label.css');
@import url('./blocks/popup/__container-form-field/popup__container-form-field.css');
@import url('./blocks/popup/__container-form-error/popup__container-form-error.css');
@import url('./blocks/popup/__container-form-error/_active/popup__container-form-error_active.css');
@import url('./blocks/popup/__container-form-button/popup__container-form-button.css');
@import url('./blocks/popup/__container-form-button/_delete-card/popup__container-form-button_delete-card.css');
@import url('./blocks/popup/__container-form-button/_avatar/popup__container-form-button_avatar.css');
@import url('./blocks/popup/__container-form-button/_inactive/popup__container-form-button_inactive.css');
@import url('./blocks/popup/__button-close/popup__button-close.css');
@import url('./blocks/popup/__container-photo-place/popup__container-photo-place.css');
@import url('./blocks/popup/__img-photo-place/popup__img-photo-place.css');
@import url('./blocks/popup/__container-title-photo-place/popup__container-title-photo-place.css');
@import url('./blocks/popup/_photo-place/popup_photo-place.css');

@import url('./blocks/card/card.css');
@import url('./blocks/card/__img/card__img.css');
@import url('./blocks/card/__title/card__title.css');
@import url('./blocks/card/__like/card__like.css');
@import url('./blocks/card/__like/_active/card__like_active.css');
@import url('./blocks/card/__like/_number/card__like_number.css');
@import url('./blocks/card/__btn-delete/card__btn-delete.css');
@import url('./blocks/card/__btn-delete/_inactive/card__btn-delete_inactive.css');