.elements__cards {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
}

@media (max-width: 900px) {
  .elements__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .elements__cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}